@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.btn {
  display: flex;
  margin: 0.2rem 0;
  position: relative;

  &__style {
    display: flex;
    justify-content: center;
    color: $color-primary-light;
    font-weight: $text-weight-bold;
    text-transform: uppercase;
    padding: 0.85rem 0rem;
    width: 100%;
    background-color: $color-primary-blue;
    align-items: center;
    border-radius: $button-radius;
    border: none;
    transition: all 0.3s ease-out;

    @include tablet {
      height: $button-height;
      width: $button-min-width-tablet_desktop;
      padding-left: $button-padding-left-right-tablet_desktop;
      padding-right: $button-padding-left-right-tablet_desktop;
      font-size: $tablet-body-text-size;
      line-height: $tablet-body-text-line-height;
    }

    &:hover {
      background-color: $color-secondary-darkblue;
    }
  }

  &__img {
    display: flex;
    height: $mobile-body-text-line-height;
    padding-left: 0.5rem;
    position: absolute;
    left: 0.2rem;
    @include tablet {
      height: $tablet-body-text-line-height;
    }
  }
}
