@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comments {
  background-color: $color-primary-light;
  padding-bottom: 1rem;
  max-width: $desktop-width;
  margin: 0 auto;
  &__wrapper {
    max-width: $tablet-width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  &__title {
    margin-left: 1rem;
    font-size: $tablet-section-text-size;
    line-height: $tablet-section-text-line-height;
    font-weight: $text-weight-demi;
  }
  &__count {
    font-weight: $text-weight-demi;
  }
}
