@use "./typography";

// fonts
$font-primary: AvenirNextTLPro, Verdana, Tahoma, Geneva, sans-serif;

// Colours
// Primary
// $primary-white: #ffffff;
$color-primary-light: #ffffff;
$color-primary-ascent: #afafaf;
// $primary-silver: #afafaf;
$color-primary-blue: #0095ff;

// Secondary
$color-secondary-light: #fafafa;
// $secondary-alabaster: #fafafa;
$color-secondary-ascent: #e1e1e1;
// $secondary-mercury: #e1e1e1;
$color-secondary-darkBlue: #0065ad;

$color-dark: #323232;
// $primary-black: #323232;
$color-darkblack: #000000;
// $secondary-darkBlack: #000000;

// screen sizes
$tablet-width: 768px;
$desktop-width: 1280px;

// Desktop and Mobile/Tablet text style
$tablet-header-text-size: 3.25rem;
$tablet-header-text-line-height: 4.25rem;

$tablet-section-text-size: 2.25rem;
$tablet-section-text-line-height: 2.75rem;

$tablet-subheader-text-size: 1.75rem;
$tablet-subheader-text-line-height: 2rem;

$tablet-body-text-size: 0.875rem;
$tablet-body-text-line-height: 1.375rem;

$tablet-footer-text-size: 0.875rem;
$tablet-footer-text-line-height: 1.25rem;

$tablet-labels-text-size: 0.875rem;
$tablet-labels-text-line-height: 1.25rem;

$text-weight-regular: 400;
$text-weight-demi: 600;
$text-weight-bold: 700;
