@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  &__wrapper {
    background-color: $color-darkblack;
    width: 100%;

    @include tablet {
      padding: 0 5rem;
    }
    @include desktop {
      padding: 0 15rem;
    }
  }
  &__video {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
}
