@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.videos {
  &__wrapper {
    margin: 0 1rem;
    background-color: $color-primary-light;
  }

  &__title {
    font-size: $mobile-body-text-size;
    font-weight: $text-weight-bold;
    color: $color-primary-ascent;
    text-transform: uppercase;
    margin: 1.5rem 0rem;

    @include tablet {
      font-size: $tablet-body-text-size;
    }
  }
}
