@use "./partials/variables" as *;
@use "./partials/mixins" as *;

*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-primary;
  font-size: $mobile-body-text-size;
  line-height: $mobile-body-text-line-height;
  font-weight: $text-weight-regular;
  color: $color-dark;
}

//
h1 {
  font-size: $mobile-header-text-size;
  line-height: $mobile-header-text-line-height;
  @include tablet {
    font-size: $tablet-header-text-size;
    line-height: $tablet-header-text-line-height;
  }
}
