@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comment {
  &__list {
    list-style-type: none;
  }
  &__list-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color-secondary-ascent;
    padding-bottom: 1.5rem;
  }
}
